In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('TMBD Movie Dataset.csv')

In [3]:
movies.head()

,Unnamed: 0,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,...,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit,popularity_level
0,0,135397,tt0369610,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,...,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09,1.363529e+09,High
1,1,76341,tt1392190,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,...,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08,2.284364e+08,High
2,2,262500,tt2908446,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,...,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08,1.852382e+08,High
3,3,140607,tt2488496,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,...,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09,1.868178e+09,High
4,4,168259,tt2820852,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,...,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09,1.316249e+09,High

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1287 entries, 0 to 1286
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1287 non-null   int64
 1   id                    1287 non-null   int64
 2   imdb_id               1287 non-null   object
 3   popularity            1287 non-null   float64
 4   budget                1287 non-null   float64
 5   revenue               1287 non-null   float64
 6   original_title        1287 non-null   object
 7   cast                  1287 non-null   object
 8   homepage              1287 non-null   object
 9   director              1287 non-null   object
 10  tagline               1287 non-null   object
 11  keywords              1287 non-null   object
 12  overview              1287 non-null   object
 13  runtime               1287 non-null   int64
 14  genres                1287 non-null   object
 15  production_companies  1287 non-null   object
 16  release_date          1287 non-null   object
 17  vote_count            1287 non-null   int64
 18  vote_average          1287 non-null   float64
 19  release_year          1287 non-null   int64
 20  budget_adj            1287 non-null   float64
 21  revenue_adj           1287 non-null   float64
 22  profit                1287 non-null   float64
 23  popularity_level      1286 non-null   object
dtypes: float64(7), int64(5), object(12)
memory usage: 241.4+ KB

In [5]:
movies.describe()

,Unnamed: 0,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj,profit
count,1287.000000,1287.000000,1287.000000,1.287000e+03,1.287000e+03,1287.000000,1287.000000,1287.000000,1287.000000,1.287000e+03,1.287000e+03,1.287000e+03
mean,4125.843046,52557.491064,1.786022,5.200349e+07,1.762444e+08,110.273504,947.266511,6.279487,2007.017094,5.462994e+07,1.991775e+08,1.242409e+08
std,2671.936574,74450.077163,2.172137,5.514540e+07,2.538156e+08,18.811369,1255.476215,0.795955,8.060503,5.525463e+07,2.968515e+08,2.183462e+08
min,0.000000,11.000000,0.010335,1.000000e+00,4.300000e+01,63.000000,10.000000,2.200000,1961.000000,9.693980e-01,4.300000e+01,-4.139124e+08
25%,1972.000000,5851.500000,0.664783,1.400000e+07,2.565097e+07,97.000000,179.000000,5.800000,2005.000000,1.519180e+07,2.764890e+07,3.142641e+06
50%,3523.000000,20178.000000,1.152354,3.200000e+07,8.208716e+07,107.000000,439.000000,6.300000,2009.000000,3.556927e+07,8.674770e+07,4.524300e+07
75%,6554.500000,62209.500000,2.125342,7.000000e+07,2.140694e+08,121.000000,1173.000000,6.800000,2011.000000,7.630125e+07,2.351178e+08,1.470070e+08
max,10760.000000,333348.000000,32.985763,4.250000e+08,2.781506e+09,201.000000,9767.000000,8.300000,2015.000000,4.250000e+08,2.827124e+09,2.544506e+09

In [6]:
movies.isnull().sum()

Unnamed: 0              0
id                      0
imdb_id                 0
popularity              0
budget                  0
revenue                 0
original_title          0
cast                    0
homepage                0
director                0
tagline                 0
keywords                0
overview                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
profit                  0
popularity_level        1
dtype: int64

In [7]:
movies=movies[['id','original_title','revenue','cast','director','overview','genres','profit']]

In [8]:
movies.head()

,id,original_title,revenue,cast,director,overview,genres,profit
0,135397,Jurassic World,1.513529e+09,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|Thriller,1.363529e+09
1,76341,Mad Max: Fury Road,3.784364e+08,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|Thriller,2.284364e+08
2,262500,Insurgent,2.952382e+08,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|Thriller,1.852382e+08
3,140607,Star Wars: The Force Awakens,2.068178e+09,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|Fantasy,1.868178e+09
4,168259,Furious 7,1.506249e+09,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|Thriller,1.316249e+09

In [9]:
movies.duplicated().sum()

0

In [10]:
movies.iloc[0].genres

'Action|Adventure|Science Fiction|Thriller'

In [11]:
def convert(obj):
    l=obj.split('|')
    return l

In [12]:
movies.head()

,id,original_title,revenue,cast,director,overview,genres,profit
0,135397,Jurassic World,1.513529e+09,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|Thriller,1.363529e+09
1,76341,Mad Max: Fury Road,3.784364e+08,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|Thriller,2.284364e+08
2,262500,Insurgent,2.952382e+08,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|Thriller,1.852382e+08
3,140607,Star Wars: The Force Awakens,2.068178e+09,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|Fantasy,1.868178e+09
4,168259,Furious 7,1.506249e+09,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|Thriller,1.316249e+09

In [13]:
movies.iloc[0].genres

'Action|Adventure|Science Fiction|Thriller'

In [14]:
movies.iloc[0].cast

"Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vincent D'Onofrio|Nick Robinson"

In [15]:
movies['cast']= movies['cast'].apply(convert) 
movies['genres']= movies['genres'].apply(convert)

In [23]:
movies['director']= movies['director'].apply(convert)

In [17]:
movies['overview']= movies['overview'].apply(lambda x: x.split())

In [18]:
movies['genres']= movies['genres'].apply(lambda x:[i.replace(" ","") for i in x]) 

movies['cast']= movies['cast'].apply(lambda x:[i.replace(" ","") for i in x]) 
movies['overview']= movies['overview'].apply(lambda x:[i.replace(" ","") for i in x])

In [24]:
movies['director'] = movies['director'].replace(" ","") 
movies.head()

,id,original_title,revenue,cast,director,overview,genres,profit,tags
0,135397,Jurassic World,1.513529e+09,"[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi...",[Colin Trevorrow],"[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, ScienceFiction, Thriller]",1.363529e+09,"[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi..."
1,76341,Mad Max: Fury Road,3.784364e+08,"[TomHardy, CharlizeTheron, HughKeays-Byrne, Ni...",[George Miller],"[An, apocalyptic, story, set, in, the, furthes...","[Action, Adventure, ScienceFiction, Thriller]",2.284364e+08,"[TomHardy, CharlizeTheron, HughKeays-Byrne, Ni..."
2,262500,Insurgent,2.952382e+08,"[ShaileneWoodley, TheoJames, KateWinslet, Anse...",[Robert Schwentke],"[Beatrice, Prior, must, confront, her, inner, ...","[Adventure, ScienceFiction, Thriller]",1.852382e+08,"[ShaileneWoodley, TheoJames, KateWinslet, Anse..."
3,140607,Star Wars: The Force Awakens,2.068178e+09,"[HarrisonFord, MarkHamill, CarrieFisher, AdamD...",[J.J. Abrams],"[Thirty, years, after, defeating, the, Galacti...","[Action, Adventure, ScienceFiction, Fantasy]",1.868178e+09,"[HarrisonFord, MarkHamill, CarrieFisher, AdamD..."
4,168259,Furious 7,1.506249e+09,"[VinDiesel, PaulWalker, JasonStatham, Michelle...",[James Wan],"[Deckard, Shaw, seeks, revenge, against, Domin...","[Action, Crime, Thriller]",1.316249e+09,"[VinDiesel, PaulWalker, JasonStatham, Michelle..."

In [31]:
movies['tags'] = movies['cast']+movies['genres']+movies['overview']+movies['director']

In [32]:
movies.head()

,id,original_title,revenue,cast,director,overview,genres,profit,tags
0,135397,Jurassic World,1.513529e+09,"[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi...",[Colin Trevorrow],"[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, ScienceFiction, Thriller]",1.363529e+09,"[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi..."
1,76341,Mad Max: Fury Road,3.784364e+08,"[TomHardy, CharlizeTheron, HughKeays-Byrne, Ni...",[George Miller],"[An, apocalyptic, story, set, in, the, furthes...","[Action, Adventure, ScienceFiction, Thriller]",2.284364e+08,"[TomHardy, CharlizeTheron, HughKeays-Byrne, Ni..."
2,262500,Insurgent,2.952382e+08,"[ShaileneWoodley, TheoJames, KateWinslet, Anse...",[Robert Schwentke],"[Beatrice, Prior, must, confront, her, inner, ...","[Adventure, ScienceFiction, Thriller]",1.852382e+08,"[ShaileneWoodley, TheoJames, KateWinslet, Anse..."
3,140607,Star Wars: The Force Awakens,2.068178e+09,"[HarrisonFord, MarkHamill, CarrieFisher, AdamD...",[J.J. Abrams],"[Thirty, years, after, defeating, the, Galacti...","[Action, Adventure, ScienceFiction, Fantasy]",1.868178e+09,"[HarrisonFord, MarkHamill, CarrieFisher, AdamD..."
4,168259,Furious 7,1.506249e+09,"[VinDiesel, PaulWalker, JasonStatham, Michelle...",[James Wan],"[Deckard, Shaw, seeks, revenge, against, Domin...","[Action, Crime, Thriller]",1.316249e+09,"[VinDiesel, PaulWalker, JasonStatham, Michelle..."

In [33]:
new_df = movies[['id','original_title','tags']]
new_df.head()

,id,original_title,tags
0,135397,Jurassic World,"[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi..."
1,76341,Mad Max: Fury Road,"[TomHardy, CharlizeTheron, HughKeays-Byrne, Ni..."
2,262500,Insurgent,"[ShaileneWoodley, TheoJames, KateWinslet, Anse..."
3,140607,Star Wars: The Force Awakens,"[HarrisonFord, MarkHamill, CarrieFisher, AdamD..."
4,168259,Furious 7,"[VinDiesel, PaulWalker, JasonStatham, Michelle..."

In [34]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\MAHESH\AppData\Local\Temp\ipykernel_600\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [35]:
new_df['tags'][0]

"ChrisPratt BryceDallasHoward IrrfanKhan VincentD'Onofrio NickRobinson Action Adventure ScienceFiction Thriller Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond. Colin Trevorrow"

In [36]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\MAHESH\AppData\Local\Temp\ipykernel_600\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [45]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [46]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [47]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\MAHESH\AppData\Local\Temp\ipykernel_600\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1500,stop_words='english')

In [57]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [58]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [59]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [60]:
vectors.shape

(1287, 1500)

In [64]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [65]:
similarity[0]

array([1.        , 0.21389632, 0.19446112, ..., 0.15171652, 0.11433239,
       0.09166985])

In [81]:
def recommend(movie):
    movie_index = new_df[new_df['original_title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].original_title)

In [82]:
new_df[new_df['original_title']=='Avatar'].index[0]

165

In [83]:
recommend('Avatar')

Apollo 18
Diamonds Are Forever
The Wolverine
Jupiter Ascending
Aliens vs Predator: Requiem

In [84]:
import pickle

In [86]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [87]:
pickle.dump(similarity,open('similarity.pkl','wb'))